//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "layout/layout";

// Para o tema escuro
[data-kt-app-layout="dark-sidebar"],
[data-kt-app-layout="dark-header"] {
  // Remove bordas do cabeçalho
  .app-header {
    border-bottom: none !important;
    box-shadow: none !important;
  }

  // Remove bordas da barra lateral
  .app-sidebar {
    border-right: none !important;
    box-shadow: none !important;
  }

  // Remove bordas do wrapper principal
  .app-wrapper {
    border: none !important;
  }

  // Ajusta a cor de fundo do cabeçalho se necessário
  .app-header {
    background-color: $iuppy-dark-blue !important;
  }

  // Ajusta a cor do texto "Dashboard" no cabeçalho
  .page-heading {
    color: $gray-100-dark !important;
  }

  // Remove qualquer linha ou separador entre itens do menu
  .menu-item {
    border: none !important;
  }
}
